*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 2rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    display: flex;
    background-color: #f4f4f4;
}

form {
    padding: 2rem;
    padding-left: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .form-field {
    width: 70%;
    margin-bottom: 2rem;
}

form label {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

form input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

form button {
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

form button:hover {
    background-color: #555;
}